<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a routerLink=" " routerLinkActive="active" class="logo d-flex align-items-center me-auto me-lg-0" style="margin-left: 40px;">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <i class="bi bi-tools"></i>
      <h1>DIY Haven</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink=" " routerLinkActive="active" class="active">Home</a></li>
        <li class="dropdown"><a href="#"><span>Discussions</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a routerLink="/category" routerLinkActive="active">Crafts</a></li>
            <li><a routerLink="/category" routerLinkActive="active">Home Improvement</a></li>
            <li><a routerLink="/category" routerLinkActive="active">Gardening</a></li>
            <li><a routerLink="/category" routerLinkActive="active">Miscellaneous or General</a></li>
            
            <!-- <li class="dropdown"><a href="#"><span>Sub Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Sub Menu 1</a></li>
                <li><a href="#">Sub Menu 2</a></li>
                <li><a href="#">Sub Menu 3</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

        <li class="dropdown" id="profile-menu" style="margin-right: 40px;">
          <a   href="#"><i class="bi bi-person-circle" style="font-size: 1.5rem;"></i> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a routerLink="/profile" routerLinkActive="active">My Profile</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
            <li><a routerLink="/add-post" routerLinkActive="active">Add Post</a></li>
            <li>
              <a href="#" id="logout-link">Logout</a>
            </li>

          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<script>
  document.getElementById('logout-link').addEventListener('click', function (e) {
    e.preventDefault();
    fetch('/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    }).then(response => {
      if (response.ok) {
        window.location.href = '/login';
      }
    }).catch(error => {
      console.error('Error:', error);
    });
  });
</script>