<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Welcome to DIY Haven</h2>
                    <p>The ultimate online community for do-it-yourself enthusiasts! Join us to share your projects,
                        gain inspiration, and connect with like-minded creators from around the world.</p>
                    <a class="cta-btn" routerLink="/signup" style="margin: 5px 10px;">Join Us Today</a>
                    <a class="cta-btn" routerLink="/about" style="margin: 5px 10px;">About Us</a>
                </div>
            </div>
        </div>
    </div><!-- End Page Header -->
    <!-- ======= Search Section ======= -->
    <section id="search" class="search form-section">
        <div id="search" class="search form-section">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form action="/search" method="post" role="form" class="php-search-form php-form d-flex">
                        <div class="form-group flex-grow-1">
                            <input type="text" name="search-query" class="form-control text-white" id="search-query"
                                placeholder="Find questions that have been posted" required>
                        </div>
                        <div class="form-group align-self-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Search Completed. Redirecting...</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Section -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <!-- Main content -->
                <div class="col-lg-9 mb-3">
                    <div class="row text-left mb-5">
                        <div class="col-lg-6 mb-3 mb-sm-0">
                            <div class="dropdown bootstrap-select form-control form-control-lg bg-black bg-op-9 text-sm w-lg-50"
                                style="width: 100%;">
                                <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50"
                                    data-toggle="select" tabindex="-98">
                                    <option> Categories </option>
                                    <option> Crafts </option>
                                    <option> Home Improvement </option>
                                    <option> Gardening </option>
                                    <option> Miscellaneous or General </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 text-lg-right">
                            <div class="dropdown bootstrap-select form-control form-control-lg bg-black bg-op-9 ml-auto text-sm w-lg-50"
                                style="width: 100%;">
                                <select class="form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50"
                                    data-toggle="select" tabindex="-98">
                                    <option> Filter by </option>
                                    <option> Votes </option>
                                    <option> Replys </option>
                                    <option> Views </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Post 1 -->
                    <div
                        class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                                </h5>
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">20
                                        minutes</a> <span class="op-6">ago by</span> <a class="text-black"
                                        href="#">KenyeW</a></p>
                                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#C++</a> <a
                                        class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2"
                                        href="#">#Wordpress</a> </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span
                                            class="d-block text-sm">141 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
                                            class="d-block text-sm">122 Replys</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span
                                            class="d-block text-sm">290 Views</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post 2 -->
                    <div
                        class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a href="#" class="text-primary">HELP! My Windows XP machine is down</a>
                                </h5>
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">54
                                        minutes</a> <span class="op-6">ago by</span> <a class="text-black"
                                        href="#">DanielD</a></p>
                                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Development</a> <a
                                        class="text-black mr-2" href="#">#AppStrap Theme</a> </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span
                                            class="d-block text-sm">256 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
                                            class="d-block text-sm">251 Replys</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span
                                            class="d-block text-sm">223 Views</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post 3 -->
                    <div
                        class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a href="#" class="text-primary">Bootstrap 4 development in record time with
                                        AppStrap Bootstrap 4 Theme</a>
                                </h5>
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">32
                                        minutes</a> <span class="op-6">ago by</span> <a class="text-black"
                                        href="#">AppStrapMaster</a></p>
                                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Bootstrap 4</a> <a
                                        class="text-black mr-2" href="#">#Wordpress</a> </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span
                                            class="d-block text-sm">245 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
                                            class="d-block text-sm">116 Replys</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span
                                            class="d-block text-sm">257 Views</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post 4 -->
                    <div
                        class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a href="#" class="text-primary">Bootstrap 4 development in record time with
                                        AppStrap Bootstrap 4 Theme</a>
                                </h5>
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">29
                                        minutes</a> <span class="op-6">ago by</span> <a class="text-black"
                                        href="#">Themelize.me</a></p>
                                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#Android</a> <a
                                        class="text-black mr-2" href="#">#Bootstrap 4</a> <a class="text-black mr-2"
                                        href="#">#Wordpress</a> <a class="text-black mr-2" href="#">#Drupal</a> </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span
                                            class="d-block text-sm">49 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
                                            class="d-block text-sm">29 Replys</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span
                                            class="d-block text-sm">170 Views</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post 5 -->
                    <div
                        class="card row-hover pos-relative py-3 px-3 mb-3 border-primary border-top-0 border-right-0 border-bottom-0 rounded-0">
                        <div class="row align-items-center">
                            <div class="col-md-8 mb-3 mb-sm-0">
                                <h5>
                                    <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                                </h5>
                                <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">53
                                        minutes</a> <span class="op-6">ago by</span> <a class="text-black"
                                        href="#">Themelize.me</a></p>
                                <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#iOS</a> <a
                                        class="text-black mr-2" href="#">#Bootstrap 4</a> </div>
                            </div>
                            <div class="col-md-4 op-7">
                                <div class="row text-center op-7">
                                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span
                                            class="d-block text-sm">164 Votes</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span
                                            class="d-block text-sm">82 Replys</span> </div>
                                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span
                                            class="d-block text-sm">240 Views</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /End of posts -->
                </div>



                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">

                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-popular" type="button" role="tab"
                                    aria-controls="pills-popular" aria-selected="true">Popular</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-trending" type="button" role="tab"
                                    aria-controls="pills-trending" aria-selected="false">Trending</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest"
                                    aria-selected="false">Latest</button>
                            </li>
                        </ul>


                    </div>



                    <div class="aside-block">
                        <h3 class="aside-title">Categories</h3>
                        <ul class="aside-links list-unstyled">
                            <li><a href="/category/business"><i class="bi bi-chevron-right"></i> Business</a></li>
                            <li><a href="/category/culture"><i class="bi bi-chevron-right"></i> Culture</a></li>
                            <li><a href="/category/sport"><i class="bi bi-chevron-right"></i> Sport</a></li>
                            <li><a href="/category/food"><i class="bi bi-chevron-right"></i> Food</a></li>
                            <li><a href="/category/politics"><i class="bi bi-chevron-right"></i> Politics</a></li>
                            <li><a href="/category/celebrity"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                            <li><a href="/category/travel"><i class="bi bi-chevron-right"></i> Travel</a></li>
                        </ul>
                    </div><!-- End Categories -->



                </div>





            </div>
        </div>
    </section>
    <!-- End Content Section -->

</main><!-- End #main -->